/* Main-header styles*/
.main-header {
  width: 90%;
  @include bdr(green);
  margin: 30px auto 100px;
  display: grid;
  grid-template-areas:
    "navbar"
    "content"
    "illustration";

  // Navbar
  &#{__navbar} {
    grid-area: navbar;
    margin-bottom: 30px;
  @include bdr(red);
  @include flexbox($justify:space-between);
  }
  &#{__navbar-logo}{
    width: 40%;  
    max-width: 150px;
  }
  &#{__navbar-nav}{
      order: 2;
      width: 100%;
      margin: 15px auto;
      list-style-type: none;
      @include flexbox($flow:row nowrap,$justify:space-between)
  }
  &#{__navbar-link}{
      font-size: 1.3rem;
      color: $text-color-second;
      text-decoration: none;
      display: inline-block;
  }
  &#{__navbar-cta}{
    order: 1;  
    width: 55%;
    max-width: 350px;
    font-size: 1.5rem;
    @include bdr;
    @include flexbox($justify:space-between);


    &#{-btn}:first-of-type{
        color: black;
        font-weight: 500;
        display: inline-block;
        text-decoration: none;
    }
    &#{-btn}:last-of-type{
        @include ghost-btn($ghost-pd-y:7px);
    }
  }
  // Content
  &#{__content-wrapper} {
    grid-area: content;
    @include flexbox;
    text-align: center;
  }
  &#{__title} {
    font-size: 3.4rem;
    margin: 25px auto 30px;
  }
  &#{__description} {
    color: $text-color-second;
    font-size: 1.6rem;
    span {
      font-weight: 500;
    }
  }
  &#{__cta} {
    @include standard-btn;
    margin: 35px auto 50px;
  }
  // Illustration
  &#{__illustration} {
    grid-area: illustration;
  }
}
