// ************ 375px ***************
@media screen and (min-width: 375px) {
  //   Main header
  .main-header {
    max-width: 550px;
    &#{__navbar-link} {
      font-size: 1.5rem;
    }
  }
  //   Main content
  .main-content {
    .features-section {
      max-width: 510px;
    }
    .pricing-section {
      max-width: 530px;
      &#{__info-card} {
        max-width: 390px;
      }
    }

    .sponsors-section {
      max-width: 400px;
    }
    .testimonials-section {
      max-width: 600px;
    }
  }
}
// ************ 768px ***************
@media screen and (min-width: 768px) {
  // Main header
  .main-header {
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    &#{__navbar} {
      grid-column: 1/-1;
    }
    &#{__navbar-nav} {
      max-width: 685px;
    }
    &#{__navbar-link} {
      font-size: 1.9rem;
    }
    &#{__content-wrapper} {
      justify-content: start;
      text-align: left;
    }
    &#{__cta} {
      margin: 35px 0 50px;
      text-align: center;
    }
    &#{__illustration} {
      margin: 0;
      align-self: center;
      grid-column: 2/-1;
      grid-row: 2/-1;
    }
  }
  //   Main content
  .main-content {
    .about-section {
      width: 90%;
      max-width: 800px;
      .flex-container {
        flex-flow: row nowrap;
      }
      &#{__content} {
        margin: 25px;
        border-bottom: none;
        border-right: 2px solid #eee;
      }
      &#{__content}:last-of-type {
        border-right: none;
      }
    }

    .features-section {
      margin: 125px auto;
      max-width: 800px;
      width: 90%;
      flex-flow: row nowrap;
      justify-content: space-between;
      &#{__illustration} {
        width: 55%;
      }
      &#{__content-wrapper} {
        width: 40%;
        text-align: left;
      }
    }
    .pricing-section {
      width: 90%;
      max-width: 800px;

      &#{__description} {
        max-width: 600px;
      }
      &#{__info-cards-wrapper} {
        @include flexbox($justify: space-evenly);
      }
      &#{__info-card} {
        margin: 25px 10px 25px 0px;
      }
    }
    .sponsors-section {
      width: 90%;
      max-width: 800px;
      flex-flow: row wrap;
      justify-content: space-between;

      &#{__logo} {
        width: 200px;
        margin-right: 15px;
      }
    }
    .testimonials-section {
      max-width: 800px;
      &#{__description} {
        max-width: 500px;
      }
      &#{__testimonials-wrapper} {
        flex-flow: row wrap;
        justify-content: space-evenly;
      }
      &#{__testimonial} {
        width: auto;
        margin: 25px 10px;
      }
    }
  }
  // Main footer
  .main-footer{
      display: grid;
      grid-template-columns: repeat(2,1fr fr) 2fr;
      grid-template-rows: repeat(2, auto);
  }
  //
}
