@media screen and (min-width: 1024px) {
  .cta-section {
    max-width: 1200px;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 50px 60px;
    &#{__content-wrapper} {
      width: 60%;
      max-width: 480px;
      font-size: 2rem;
      text-align: left;
    }
    &#{__title} {
      font-size: 4rem;
      line-height: 45px;
    }
    &#{__subscribe-btn} {
      font-size: 2rem;
    }
  }
  // Main footer
  .main-footer {
    max-width: 1200px;
    &#{__logo} {
      width: 200px;
    }
    &#{__description} {
      margin: 20px 0px;
      font-size: 1.6rem;
      color: $text-color-second;
      max-width: 400px;
      line-height: 30px;
    }

    &#{__nav-title},
    &#{__nav-link} {
      font-size: 1.9rem;
    }
  }
}
