@media screen and (min-width: 1024px) {
    &#{__title} {
      font-size: 5rem;
      max-width: 600px;
      margin: 27px 0px;
    }
    &#{__description} {
      font-size: 2rem;
      line-height: 35px;
      max-width: 500px;
    }
    &#{__cta} {
      font-size: 2rem;
    }
  }
  //   Main content
  .main-content {
    .about-section {
      max-width: 1200px;
      .flex-container {
        justify-content: space-evenly;
      }
    }

    .features-section {
      max-width: 1200px;
      &#{__title} {
        font-size: 4rem;
      }
      &#{__description} {
        font-size: 2rem;
        line-height: 35px;
      }
      &#{__feature-item} {
        font-size: 2rem;
        line-height: 75px;
      }
    }
    .pricing-section {
      max-width: 1200px;

      &#{__title} {
        font-size: 4rem;
      }
      &#{__description} {
        font-size: 2rem;
        line-height: 35px;
        max-width: 600px;
      }
      &#{__info-cards-wrapper} {
        @include flexbox($justify: space-evenly);
      }
      &#{__info-card} {
        margin: 25px 10px 25px 0px;
      }
      &#{__info-card-btn} {
        padding: 15px 0px;
      }
    }
    .global-section {
      &#{__title} {
        font-size: 4rem;
      }
      &#{__description} {
        font-size: 2rem;
        max-width: 600px;
      }
    }
    .sponsors-section {
      max-width: 1200px;
    }
    .testimonials-section {
      width: 90%;
      max-width: 1200px;
      &#{__title} {
        font-size: 4rem;
      }
      &#{__description} {
        font-size: 2rem;
        line-height: 35px;
      }
    }
  }
  // CTA section{
  .cta-section {
    max-width: 1200px;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 50px 60px;
    &#{__content-wrapper} {
      width: 60%;
      max-width: 480px;
      font-size: 2rem;
      text-align: left;
    }
    &#{__title} {
      font-size: 4rem;
      line-height: 45px;
    }
    &#{__subscribe-btn} {
      font-size: 2rem;
    }
  }
  // Main footer
  .main-footer {
    max-width: 1200px;
    &#{__logo} {
      width: 200px;
    }
    &#{__description} {
      margin: 20px 0px;
      font-size: 1.6rem;
      color: $text-color-second;
      max-width: 400px;
      line-height: 30px;
    }

    &#{__nav-title},
    &#{__nav-link} {
      font-size: 1.9rem;
    }
  }
}
