// ************************************
//          MAIN HEADER
// ************************************

.main-header {
  width: 90%;
  margin: 30px auto 100px;
  display: grid;
  grid-template-areas:
    "navbar"
    "content"
    "illustration";
}
