// ******************************************
//       MAIN CONTENT - SPONSORS SECTION
// ******************************************

.sponsors-section {
  @include flexbox($flow: column nowrap);
  width: 70%;
  margin: 50px auto 75px;

  &__logo {
    width: 100%;
    margin-bottom: 30px;
  }
}
